<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restoku, Sob!</title>
    <link rel="shortcut icon" href="./logo/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="#content" class="skip-link">Menuju ke Konten</a>
    <header>
        <div class="header-logo">
            <div class="box-img" tabindex="0">
                <img class="img-logo" src="./logo/logo.png" alt="logo restaurant">
            </div>
            <h1 class="header-title">
                Restoku, Sob!
            </h1>
        </div>
        <a href="#" id="hamburgerButton" class="hamburger" tabindex="0">☰</a>

        <nav id="navDrawer">
            <ul class="menu">
                <li>
                    <a href="/" class="menu-item">Home</a>
                </li>
                <li>
                    <a href="/#/favorite" class="menu-item">Favorite</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/rhmt_ty/" target="_blank" class="menu-item">About Us</a>
                </li>
                </a>
            </ul>
        </nav>
    </header>

    
    <main id="content">
        <hero-section></hero-section>
        <section class="main-content" id="maincontent">
            
        </section>
    </main>

    <footer>
        <p>&copy; Copyright Restoku, Sob! 2021</p>
    </footer>
</body>
</html>
