<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restoku, Sob!</title>
    <link rel="shortcut icon" href="./logo/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;1,200&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="header-logo">
            <div class="box-img">
                <img class="img-logo" src="./logo/logo.png" alt="logo restaurant">
            </div>
            <h1 class="header-title">
                Restoku, Sob!
            </h1>
        </div>

        <nav>
            <ul class="menu">
                <a href="/" class="menu-item">
                    <li>Home</li>
                </a>
                <a href="/#" class="menu-item">
                    <li>Favorite</li>
                </a>
                <a href="https://www.instagram.com/rhmt_ty/" target="_blank" class="menu-item">
                    <li>About Us</li>
                </a>
                </a>
            </ul>
        </nav>
        <a id="menu" class="hamburger">☰</a>
    </header>

    
    <main>
        <div class="hero-wrapper">
            <img src="./images/heros/hero-image_2.jpg" alt="hero image" class="hero-img">
            <div class="hero-description">
                <h1 class="hero-title">Kami memudahkan Anda untuk mencari restoran terbaik</h1>
                <h2 class="hero-subtitle">Tidak perlu keluar rumah cukup gunakan gagdet Anda dimanapun dan kapanpun</h2>
            </div>
        </div>
        <section class="main-content">
            <h2 class="content-title">Daftar Restoran</h2>
            <div class="resto-lists" id="resto-lists"></div>
        </section>
    </main>

    <footer>
        <p>&copy; Copyright Restoku, Sob! 2021</p>
    </footer>
</body>
</html>
