* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'KoHo', sans-serif;
    color: #424242;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

// Tombol skip menuju konten
.skip-link {
   position: absolute;
   top: -40px;
   left: 10px;
   background-color: #064420;
   color: white;
   padding: 8px;
   z-index: 100;

   &:focus {
       top: 7px;
   }
}

// Header
.header-scroll{
    background-color: rgba(0,0,0,.7);
} 

header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 55px;
    transition: min-height 0.3s;
    padding: 5px 15px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 3fr 1fr;
    z-index: 10;
    color: #fdfaf6;
    transition: all 0.3s;

    .hamburger {
        font-size: 2rem;
        margin: 20px 20px 10px 0;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        color: #fdfaf6;
        min-width: 44px;
        min-height: 44px;
        text-align: center;
    }
    
    .header-logo {
       display: grid;
       grid-template-columns: 0fr 1fr;
       grid-column-gap: 15px;
       align-items: center;

       .box-img {
            width: 65px;
            height: 65px;
            align-items: center;

            .img-logo {
                width: 100%;
                height: 100%;
            }
       }

       .header-title {
           font-weight: bold;
           font-style: italic;
           font-size: 28px;
       }
    }

    nav {
        width: 100%;

        .menu {
            align-items: center;
            display: flex;
            list-style-type: none;
    
            .menu-item {
                padding: 15px 7px;
                font-weight: bold;
                font-size: 17px;
                color: #fdfaf6;
                bottom: 0;
                transition: all 0.5s;
                position: relative;
    
                &:hover {
                    background-color: #424242;
                    text-decoration: overline #e4efe7;
                    color: #fdfaf6;
                    bottom: 4px;
                }
            }
        }
    
    }
}

// Konten
main {
    margin: 0 auto;

    // Hero Wrapper
    .hero-wrapper {
        width: 100%;
        height: 100vh;
        position: relative;
        // top: -5.3rem;
        align-items: center;

        .hero-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-size: cover;
            filter: brightness(70%);
        }

        .hero-description {
            color: #fdfaf6;
            position: absolute;
            top: 50%;
            left: 10%;
            justify-content: center;
            align-items: center;
        }
    }

    .main-content {
        margin: 90px 0;
        padding: 0 25px;
    
        .content-title {
            font-size: 2.3em;
            text-align: center;
            font-weight: 600;
        }
    
        .resto-lists {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 45px;
    
            .resto-item {
                position: relative;
                overflow: hidden;

                .img-thumbnail {
                    width: 100%;
                    height: 100vh;
                    object-fit: cover;
                    transition: transform .5s, filter .7s ease-in-out;
                    transform-origin: center center;
                    
                    &:hover {
                        transform: scale(1.2);
                        filter: blur(2px);
                    }
                }
    
                .city {
                    position: absolute;
                    text-align: center;
                    padding: 7px;
                    background-color: #064420;
                    color: #e4efe7;
                    width: 30%;
                    top: 3%;
                }
    
                .rating {
                    position: absolute;
                    top: 3%;
                    right: 0;
                    padding: 7px;
                    width: 15%;
                    background-color: #064420;
                    color: #e4efe7;
                }
    
                .content {
                    position: absolute;
                    top: 65%;
                    bottom: 0;
                    padding: 0 10px;
                    background-color: rgba(0,0,0,.7);
                    color: #faf1e6;
    
                    a {
                        color: #faf1e6;
                        font-weight: 600;
                        font-size: 28px;
                        padding: 0.2em 0;
                        border-bottom: 0 solid transparent;
                        transition: all 0.3s linear;
                        position: relative;
                        left: 0;
                        
                        &:hover {
                            border-bottom: 1px solid #faf1e6;
                            left: 4px;
                        }
                    }
    
                    .description {
                        margin-top: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 5;
                    }
                }
            }
        }
    }
}

// Footer
footer {
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #e4efe7;
    background-color: #064420;
    font-weight: 900;
}

