@media screen and (max-width: 868px) {
    header {
        nav {
            // z-index: 10;
            background-color: #fff;
            width: 100%;
            position: fixed;

            /* This trasform moves the drawer off canvas. */
            -webkit-transform: translate(0, 0);
            transform: translate(-15px, -160%);

            /* Optionally, we animate the drawer. */
            transition: transform 0.3s ease;

            .menu {
                flex-direction: column;
                padding: 10px 0;

                .menu-item {
                    color: #424242;
                    border-bottom: 1px solid black;
                    width: 100%;
                    text-align: center;
                }

                .menu-item:last-child {
                    border-bottom: 0;
                }
            }
        }

        .menu-mobile {
            -webkit-transform: translate(0, 0);
            transform: translate(-15px, 70px);
        }

        .hamburger {
            display: block;
        }
    }
}